<form {{action 'save' model on='submit'}}>
  {{#each model.errors.base as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}

  <p>{{input value=model.name placeholder="Name" name="name"}}</p>
  {{#each model.errors.name as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}

  <p><button>Update</button> or {{#link-to 'lines'}}Cancel{{/link-to}}</p>
</form>
